{% load static %}
{% include "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="http://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>






    <title>Записанные стол №1</title>
</head>
<body>


		<table id="items-table" class="display" style="width:100%">
			<thead>
				<tr>
                    <td>Дата</td>
                    <td>Стол</td>
                    <td>Время</td>
                    <td>ФИО</td>
                    <td>Тема</td>
				</tr>
			</thead>
			<tbody>
             {% for item in people %}
            <tr>
                    <td>{{item.r_date  }}</td>
                    <td>{{item.stol  }}</td>
                    <td>{{item.time  }}</td>
                    <td>{{item.fio  }}</td>
                    <td>{{item.subject  }}</td>
            </tr>
             {% endfor %}
            </tbody>
		</table>
</body>


<script language="javascript">
		$(document).ready(function() {
    $('#items-table').DataTable( {
                "initComplete": function () {
            var api = this.api();
            api.$('td').click( function () {
                api.search( this.innerHTML ).draw();
            } );
        },
        "deferRender": true,
         "lengthMenu": [[25, 50, -1], [25, 50, "All"]],
        dom: 'Bfrtip',
        columnDefs:[{targets:0, render:function(data){
      return moment(data).format('DD.MM.YYYY');
    }}],

        buttons: [
            {
            extend: 'print',
            text: 'Печать'
        },
            'copy', 'csv', 'excel', 'pdf',
        ]
    } );
} );
		</script>

</html>